<div ng-class='{blur:loader.show}'>

<!-- div class='orange-red'><b>Username</b>: test &nbsp;&nbsp;&nbsp;&nbsp;<b>Password</b>: 1q2w3e</div -->
<div class='lightBlue'><b>Username</b>: admin &nbsp;&nbsp;&nbsp;&nbsp;<b>Password</b>: 1q2w3e</div>
<nav class='navbar navbar-default' role='navigation' ng-show='!navigation.plainPage'>
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class='container-fluid'>
		
		<div class='navbar-header'>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		       	<span class="sr-only">Toggle navigation</span>
		       	<span class="icon-bar"></span>
		       	<span class="icon-bar"></span>
		       	<span class="icon-bar"></span>
	     	</button>
     		<a class="navbar-brand" href="#">Brand</a>
		</div>
		
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		
		<!-- Menu Item -->
		<ul class='nav navbar-nav'>
			<li class='dropdown' ng-class="{active: navigation.paths[1]=='config'}">
			  	<a class='dropdown-toggle hover-cursor' data-toggle='dropdown' >
			  	Sample<span class='caret'></span></a>
			  	<ul class='dropdown-menu'>
			  		<li><a href='#/your-path'>item A</a></li>
			  		<li><a href='#/your/specified-path'>item B</a></li>
		  		</ul>
			</li>	
		</ul>

		<!-- Login Menu -->
		<ul class='nav navbar-nav navbar-right'>
			<li ng-show='user.login'><a href=''>{{'Welcome, ' + user.username}}</a></li>
			<li ng-show='user.login'><a href='' ng-click='logout()'>Logout</a></li>
		</ul>
		</div>
	</div>
</nav>

<div class='container-fluid' id='mainMsg' ng-controller='MsgCtrl' ng-class="{'avoid-clicks': !msg.show}">
	<!-- Message Container -->
	<div class='row'>
		<div class='alert alert-danger my-show-hide drop-shadow'
			ng-show='msg.show'
			ng-class="{	'alert-danger': msg.status=='error', 
						'alert-warning': msg.status=='warning',
						'alert-success': msg.status=='ok'}">
			<button type="button" class="close" 
					ng-click='msg.hideMsg()' aria-hidden="true">
				&times;
			</button>
			
			<span ng-show='!msg.lock' class='glyphicon glyphicon-pushpin' ng-click='msg.cancelHide()'></span>
			<span ng-show='msg.lock' class='glyphicon glyphicon-lock' ng-click='msg.hideMsg()'></span>
			<span ng-bind='msg.message'></span>
		</div>
	</div>
</div>

<!-- Main Container -->
<div ng-view></div>

</div>

<!-- Loader Container -->  
<div ng-controller='LoaderCtrl'>
	<div ng-show="loader.show" class='top-layer my-show-hide'>
		<div class='center-msg'>
			<canvas id='myCircle' width=64px height=64px class='circle-rotate'></canvas>
			<script type="text/javascript">
				var canvas = document.getElementById('myCircle');
		      	var context = canvas.getContext('2d');
		      	var x = canvas.width / 2;
		      	var y = canvas.height / 2;
		      	var radius = x * 0.8;
		      	var startAngle = 1.2 * Math.PI;
		      	var endAngle = 1.0 * Math.PI;
		      	var counterClockwise = false;

		      	context.beginPath();
		      	context.arc(x, y, radius, startAngle, endAngle, counterClockwise);
		      	context.lineWidth = 5;

		      	// line color
		     	context.strokeStyle = 'black';
		      	context.stroke();
			</script>
			<div style="margin:auto; margin-top:10px;"><span class='text-center'><b>Loading</b></span></div>
		</div>
	</div>
</div>