<div ng-class='{blur:loader.show}'>

<nav class='navbar navbar-inverse' role='navigation' ng-show='!navigation.plainPage'>
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class='container-fluid'>
	
	<div class='navbar-header'>
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      	<span class="sr-only">Toggle navigation</span>
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
    	</button>
    	<a class="navbar-brand" href="#">Administrator</a>
	</div>
	
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	
		<!-- Menu Item -->
		<ul class='nav navbar-nav'>
			<li class='dropdown' ng-class="{active: navigation.paths[1]=='config'}">
			  	<a class='dropdown-toggle hover-cursor' data-toggle='dropdown' >
			  	Setting<span class='caret'></span></a>
			  	<ul class='dropdown-menu'>
			  		<li><a href='#/config/account-main'>User</a></li>
			  		<li><a href='#/config/schedule'>Schedule</a></li>
			  		<li><a href='#/config/update'>Update</a></li>
			  		<li><a href='#/config/sp'>System Profile</a></li>
			  		<li><a href='#/config/misc'>Misc</a></li>
		  		</ul>
			</li>
			<li class='dropdown' ng-class="{active: navigation.paths[1]=='com'}">
			  	<a class='dropdown-toggle hover-cursor' data-toggle='dropdown' >
			  	Company<span class='caret'></span></a>
			  	<ul class='dropdown-menu'>
			  		<li><a href='#/com/cp'>Company Profile</a></li>
		  		</ul>
			</li>	
		</ul>

		<!-- Login Menu -->
			<ul class='nav navbar-nav navbar-right'>
				<li ng-show='user.login'><a href=''>{{'Welcome, ' + user.username}}</a></li>
				<li ng-show='user.login'><a href='' ng-click='logout()'>Logout</a></li>
 		</ul>
		</div>
	</div>
</nav>

<div class='container-fluid' id='mainMsg' ng-controller='MsgCtrl' ng-class="{'avoid-clicks': !msg.show}">
	<!-- Message Container -->
	<div class='row'>
		<div class='alert alert-danger my-show-hide drop-shadow'
			ng-show='msg.show'
			ng-class="{	'alert-danger': msg.status=='error', 
						'alert-warning': msg.status=='warning',
						'alert-success': msg.status=='ok'}">
			<button type="button" class="close" 
					ng-click='msg.hideMsg()' aria-hidden="true">
				&times;
			</button>
			
			<span ng-show='!msg.lock' class='glyphicon glyphicon-pushpin' ng-click='msg.cancelHide()'></span>
			<span ng-show='msg.lock' class='glyphicon glyphicon-lock' ng-click='msg.hideMsg()'></span>
			<span ng-bind='msg.message'></span>
		</div>
	</div>
</div>

<!-- Main Container -->
<div ng-view></div>
</div>

<!-- Loader Container -->  
<div ng-controller='LoaderCtrl'>
	<div ng-show="loader.show" class='top-layer my-show-hide'>
		<div class='center-msg'>
			<canvas circle-arc width=64px height=64px class='circle-rotate'></canvas>
			<div style="margin:auto; margin-top:10px;"><span class='text-center'><b>Loading</b></span></div>
		</div>
	</div>
</div>