<div class='container-fluid'>
	<img src='img/bg.jpg' class='wallpaper'>
	<form role='form' class='form-horizontal' id='login-msg' ng-submit='usr.login()'>
		<div class='form-group'>
			<div class='col-md-12'>
				<h1 class='text-center'>Back Office</h1>
			</div>
		</div>
		<div class='form-group'>
			<div class='col-md-12'>
				<input type='text' class='form-control' ng-model='usr.username' placeholder='username'>
			</div>
		</div>
		<div class='form-group'>
			<div class='col-md-12'>
				<input type='password' class='form-control' ng-model='usr.password' placeholder='password'>
			</div>
		</div>
		<div class='form-group login-error' ng-show='usr.errorMsg'>
			<div class='col-md-12'>
				<span ng-bind='usr.errorMsg'></span>
			</div>
		</div>
		<div class='form-group'>
			<div class='col-md-12'>
				<button type='submit' class='btn btn-success' style="width:100%">Login</button>
			</div>
		</div>
	</form>
</div>