<?xml version="1.0" encoding="UTF-8" ?>
<accounts>
	<account>
		<id>1</id>
		<username>admin</username>
		<password>123456789</password>
		<status>2</status>
		<session></session>
	</account>
	<account>
		<id>2</id>
		<username>user</username>
		<password>123456789</password>
		<status>2</status>
		<session></session>
	</account>
</accounts>