<form class='form-horizontal' role='form' name='userForm' ng-submit="accMain.uploadAndCreateAcc('#createUser')">

<div class='modal fade' id='createUser'>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<button type="button" 
						class="close" 
						data-dismiss="modal" 
						aria-hidden="true">&times;
				</button>
		       	<h4 class="modal-title">Create User</h4>
			</div>
			<div class='modal-body'>
				<div class='form-group'>
					<label class='col-md-4 control-label'>Name</label>
					<div class='col-md-8' ng-class="{'has-error' : userForm.name.$invalid}">
					    <input 	class='form-control' 
					            type='text' name='name'
					            required
								ng-model='accMain.acc.item.name'>
					</div>
				</div>
				<div class='form-group'>
					<label class='col-md-4 control-label'>Username</label>
					<div class='col-md-8' ng-class="{'has-error' : userForm.username.$invalid}">
					    <input 	class='form-control' 
					            type='text' name='username'
					            required
								ng-model='accMain.acc.item.username'>
					</div>
				</div>
				<div class='form-group'>
					<label class='col-md-4 control-label'>Role</label>
					<div class='col-md-8' ng-class="{'has-error' : userForm.role.$invalid}">
						<select class='form-control' 
							name='role' required
							ng-model='accMain.acc.item.roleId' 
							ng-options='t.id as t.name for t in accMain.role.items'>
						</select>
					</div>
				</div>
				<div class='form-group'>
					<label class='col-md-4 control-label'>Status</label>
					<div class='col-md-8' ng-class="{'has-error' : userForm.status.$invalid}">
						<select ng-model='accMain.acc.item.status' 
								name='status' class='form-control'
								required
								ng-options='t.id as t.name for t in accMain.accStatus'>
						</select>
					</div>
				</div>
				<div class='form-group'>
					<label class='col-md-4 control-label'>Password</label>
					<div class='col-md-8' ng-class="{'has-error' : userForm.pwd.$invalid}">
						<input type='password' required name='pwd'
								class='form-control' ng-model='accMain.acc.item.pwd'>
					</div>
				</div>
				<div class='form-group' >
					<label class='col-md-4 control-label'>Confirm Password</label>
					<div class='col-md-8' ng-class="{'has-error' : userForm.pwd2.$invalid}">
						<input type='password' required name='pwd2'
								class='form-control' ng-model='accMain.acc.item.confirmPwd'>
					</div>
				</div>
				<div class='form-group' >
					<label class='col-md-4 control-label'>Attachment</label>
					<div class='col-md-8'>
						<div file-picker 
							file-model='accMain.acc.myFile'
							file-name='accMain.acc.item.filename'
							file-path='accMain.acc.item.filepath'>
						</div>
					</div>
				</div>
			</div>
			<div class='modal-footer'>
				<button type="submit" 
						class="btn btn-default">Create
				</button>
			</div>
		</div>
	</div>
</div>

</form>
