<div class='container-fluid'>
<div class='row'>
	<table class='table table-striped table-hover'>
	<thead>
		<tr>
			<th>no.</th>
			<th>Execute</th>
			<th>Start</th>
			<th>End</th>
			<th>Status</th>
			<th>Error Msg.</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='r in sch.logs'
			class='hover-cursor'>
			<td ng-bind='$index + 1'></td>
			<td ng-bind='r.func'></td>
			<td ng-bind='r.start'></td>
			<td ng-bind='r.end'></td>
			<td>
				<span ng-if='r.status == 1'>Running</span>
				<span ng-if='r.status == 2'>Success</span>
				<span ng-if='r.status == 3'>Fail</span>
			</td>
			<td ng-bind='r.failMsg'></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan='6'>
				<pagination 
					total-items='sch.logQuery.pgCnt' 
					items-per-page='sch.logQuery.pgSize'
					page='sch.logQuery.pgIndex' 
					ng-click='sch.reload()'
					max-size="10" 
					boundary-links="true">
				</pagination>
			</td>
		</tr>
	</tfoot>
</table>
</div>
</div>